<!--<h1>Having a profile that you can't edit it boring</h1>

<p>member Object: {{member}}</p>
<p>This page needs some flair</p>
<p>Try rendering to the screen all of the fields that will eventually be added to the $rootScdope.member object</p>
<p>For the MemberObject Schema look at the comments on this file</p>-->

<div ng-controller="DashboardController">

    <button class="btn btn-primary" ng-click="showForm()">Edit Profile</button>

    <h1>Hello {{member.firstName}} {{member.lastName}}! </h1>
    <img id="profileitem" class="profile-pic" src="{{member.imgUrl}}" alt="profile pic">

    <div id="profilewindow" class="panel panel-primary" ng-show="!editing">
        <!-- Default panel contents -->
        <div class="panel-heading">Profile Info:</div>
        <div class="panel-body">
            <!-- List group -->
            <ul class="list-group">
                <li id="profileitem" class="list-group-item">Bio: {{member.bio}}</li>
                 <li id="profileitem" class="list-group-item">email: {{member.email}}</li>
                  <li id="profileitem" class="list-group-item">Reputation: {{member.reputation}}</li>
                <li id="profileitem" class="list-group-item">Favorite Tags: {{member.favoriteTags}}</li>
                <li id="profileitem" class="list-group-item">Country: {{member.country}}</li>
                <li id="profileitem" class="list-group-item">Website:  <a href="{{member.websiteUrl}}">{{member.websiteUrl}}</a></li>
                <li id="profileitem" class="list-group-item">Github:  <a href="{{member.github}}"> {{member.github}}</a></li>
                <li id="profileitem" class="list-group-item">Twitter:  <a href="{{member.twitterHandle}}"> {{member.twitterHandle}}</a></li>
            </ul>
        </div>
    </div>


    <form ng-submit="submitForm()" class="panel panel-primary" ng-show="editing">
        <div class="panel-heading">Edit Info:</div>
        <div class="form-group panel panel-default">
            <input id="profileitem" class="form-control" type="text" ng-model="member.userName" placeholder="Username">
        </div>
        <div class="form-group">
            <input id="profileitem"  class="form-control" type="text" ng-model="member.firstName" placeholder="First Name">
        </div>
        <div class="form-group">
            <input id="profileitem" class="form-control" type="text" ng-model="member.lastName" placeholder="Last Name">
        </div>
        <div class="form-group">
            <input id="profileitem" class="form-control" type="text" ng-model="member.imgUrl" placeholder="Image Link">
        </div>
        <div class="form-group">
            <input id="profileitem" class="form-control" type="text" ng-model="member.country" placeholder="Home Country">
        </div>
        <div class="form-group">
            <textarea id="profileitem" rows="5" class="form-control" ng-model="member.bio" placeholder="Bio"></textarea>
        </div>
        <div class="form-group">
            <input id="profileitem"class="form-control" type="text" ng-model="member.websiteUrl" placeholder="http://yourwebsite.com">
        </div>
        <div class="form-group">
            <input id="profileitem" class="form-control" type="text" ng-model="member.github" placeholder="github.com/yourusernamehere">
        </div>
        <div class="form-group">
            <input id="profileitem" class="form-control" type="text" ng-model="member.twitterHandle" placeholder="twitter.com/username">
        </div>
        <div class="form-group">
            <input id="profileitem" class="form-control" type="text" ng-model="member.favoriteTags" placeholder="Favorite Tags">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

<!--
	
	Members are requesting a form where they can edit their memberObject.
	items denoted with ** should be stored on the memberObject
	howerever the edit form should not allow the Member to change these values 
	
	MemberObjectSchema
	{
		username: string,
		firstName: string,
		lastName: string,
		imgUrl:  string,
		country: string,
		bio: string,
		websiteUrl: string,
		github: string,
		twitterHandle: string,
		favoriteTags: [tag], // <--- BONUS: use commas in the input field to add multiple tags. Or Look at multiselect inputs
		**accountCreated: date,
		**upVotes: number,
		**downVotes: number,
		**reputation: number,
		**questions: [questionId]
		**answers: [answerId],
		**comments: [commentId]
		//Add anything else you think would be a cool feature to track
	}

	WARNING: Firebase will not allow you to add null properties to any object. When you need the specific field you can simple create it and pass its value. 	

-->