.text-white{
	color: aliceblue;
}

.content-container{
	min-height: 800px;
}

.stacked-footer{
	padding-top: 15px;
	height: 150px;
	color: aliceblue;
	background-color: #DF691A;
}

#imgHeader{
    height: 50px;
    
}

#imgFooter{
    height:125px;
}
/*#headerPadding{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 15px;
    
}*/

.uppy{
    color: green;
    
}

.downy{
    color: red;
    
}

.bestAnswer{
    background: cadetblue;

}

.showComment{
    display: none;
}

#title{
    color: #DF691A;
    font-weight: 600;
}

.profile-pic{
    height: 400px;
}

.form-control{
    border: 3px #df691a solid;
}

#profileitem{
    border: 3px #df691a solid;
    margin-top: 5px;
    margin-bottom: 5px;
}

#profilewindow{
    border: 3px #df691a solid;
}

