.text-white{
	color: aliceblue;
}

.content-container{
	min-height: 800px;
}

.stacked-footer{
	padding-top: 80px;
	height: 150px;
	color: aliceblue;
	background-color: #DF691A;
}
#imgHeader{
    height: 50px;
    
}
#imgFooter{
    height:125px;
}
#headerPadding{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 15px;
    
}
.uppy{
    color: green;
    
}

.downy{
    color: red;
    
}

.bestAnswer{
    background: cadetblue;

}

.showComment{
    display: none;
}

#title{
    color: #DF691A;
    font-weight: 600;
}
