.text-white{
	color: aliceblue;
}

.content-container{
	min-height: 800px;
}

.stacked-footer{
	padding-top: 80px;
	min-height: 250px;
	color: aliceblue;
	background-color: #222;
}
#imgHeader{
    height: 50px;
    
}
#imgFooter{
    height:125px;
}
#headerPadding{
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 15px;
    
}