<h1>A SINGLE QUESTION VIEW</h1>

<p>If we are logged in we should have a member obj {{member}}</p>

<h3>Question Rules</h3>
<p>A member must be logged in to cast votes, ask questions, add responses, or add comments</p>
<p>A member may not upvote their own questions/answers/comments</p>
<p>Only the member who posted the the questions can mark an answer as the correct answer</p>
<p>Only the member who posted the the questions/answers/comments can edit their content</p>
<p>A member may only upvote the questions/answers/comments once.</p>
<p>A member can change their vote to either up or down but may not vote both ways.</p>

<div>
    <img src="assets/img/sickNastyinverse.png" alt="Sick Nasty">
    <h3 id="title"> SickNastyClassy Forums </h3>
    <h4>Welcome {{member.username}}</h4>
    <div class="panel panel-default">
        <label for="">Input your question here.</label>
        <br>
        <textarea class="form-control" rows="10" id="question" type="text" ng-model="newQ.question"></textarea>
        <br>
        <label for="">One word description of your question.</label>
        <br>
        <input class="form-control" type="text" ng-model="newQ.tags">
        <button class="btn btn-primary" ng-click="discFunc(newQ)">Submit question</button>
    </div>
</div>