<h1>QUESTIONS</h1>
<ul>
            <li ng-repeat="quest in ourStack | filter: query | orderBy: sortOrder track by $index">
                <h3>
                    <img ng-if="quest.isAnswered" src="assets/img/middleFingerWhite.png" alt="Fah Que"> 
                    <span ui-sref="question({id: quest.$id})">{{quest.question}}</span>
                    <span ng-click="ultraDelete($index)" class="badge">Delete</span> 
                </h3>
                <span>Tag: {{quest.tags}}</span>
                <label for="upVote" class="uppy"></label>
                <button class="btn btn-success btn-xs" ng-click="voteUp(quest)" type="button">
                    Vote Up: <span class="badge">{{quest.likes}}</span>
                </button>
                <label for="downVote" class="downy"></label>
                <button class="btn btn-danger btn-xs" ng-click="voteDown(quest)" type="button">Vote Down: <span class="badge">{{quest.dislikes}}</span>
                </button>
              </li>
              </ul>


<div>
    <h3 id="title"> SickNastyClassy Forums </h3>
    <h4>Welcome {{member.username}}</h4>
    <div class="panel panel-default">
        <label for="">Input your question here.</label>
        <br>
        <textarea class="form-control" rows="10" id="question" type="text" ng-model="newQ.question"></textarea>
        <br>
        <label for="">One word description of your question.</label>
        <br>
        <input class="form-control" type="text" ng-model="newQ.tags">
        <button class="btn btn-primary" ng-click="discFunc(newQ)">Submit question</button>
    </div>
</div>